In [54]:
import sys
import qlib 
from qlib.data import D
sys.path.insert(1, '/Users/Alexis/Documents/Courses/Winter2021/Stat359/359/processor')
import processor
#Will update processor as we start to process other types of data ie level 2 
#process_level1=processor.Processor()
#initialize which folder you would like to work in 
qlib.init(provider_uri='~/.qlib/qlib_data/IEX')
#How to get relevant data from .qlib folder
calendar=D.calendar(start_time='2021-01-19', end_time='2021-02-12', freq='day')[:2]
instruments=D.instruments(market='all')
#Fields will depend on what features we want to give the model 
fields = ['$close', '$volume','$open','$high','$low']
features=D.features(instruments,fields,start_time='2021-01-19', end_time='2021-02-12')
#processor.Processor.is_for_infer(features) #apparently our processor can also infer but does nothing when run

[9158:MainThread](2021-02-16 12:24:16,442) INFO - qlib.Initialization - [config.py:277] - default_conf: client.
[9158:MainThread](2021-02-16 12:24:16,445) WARNING - qlib.Initialization - [config.py:293] - redis connection failed(host=127.0.0.1 port=6379), cache will not be used!
[9158:MainThread](2021-02-16 12:24:16,446) INFO - qlib.Initialization - [__init__.py:46] - qlib successfully initialized based on client settings.
[9158:MainThread](2021-02-16 12:24:16,446) INFO - qlib.Initialization - [__init__.py:47] - data_path=/Users/Alexis/.qlib/qlib_data/IEX

In [27]:
features.head()

                           $close   $volume       $open       $high  \
instrument datetime
IEX        2021-01-19  193.429993  630397.0  195.160004  196.880005
           2021-01-20  198.279999  847182.0  194.720001  199.479996
           2021-01-21  195.529999  408906.0  197.979996  199.759995
           2021-01-22  196.539993  401428.0  195.119995  197.660004
           2021-01-25  194.130005  480153.0  195.600006  197.649994

                             $low
instrument datetime
IEX        2021-01-19  193.259995
           2021-01-20  194.529999
           2021-01-21  193.529999
           2021-01-22  193.710007
           2021-01-25  192.800003

In [62]:
import numpy as np
features['$close']=np.nan #make nans see if processor works
features.head() #notice now close is entirely nans

                       $close   $volume       $open       $high        $low
instrument datetime
IEX        2021-01-19     NaN  630397.0  195.160004  196.880005  193.259995
           2021-01-20     NaN  847182.0  194.720001  199.479996  194.529999
           2021-01-21     NaN  408906.0  197.979996  199.759995  193.529999
           2021-01-22     NaN  401428.0  195.119995  197.660004  193.710007
           2021-01-25     NaN  480153.0  195.600006  197.649994  192.800003

In [32]:
#Apply processor to feature data
#process_level1(features) #our processor doesnt work

AttributeError: type object 'Processor' has no attribute 'Fillna'

In [44]:
#lets try qlibs processor
from qlib.data.dataset.processor import DropnaProcessor

In [67]:
DropnaProcessor(features) #qlibs processor can infer from our features but also doesn't handle the nans

<qlib.data.dataset.processor.DropnaProcessor object at 0x7fb76b10aa90>

In [33]:
import IEX_processor #removed serializable so no pickling or relying on prior df

In [58]:
feat=processor.Processor()

In [59]:
dir(feat)

['__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_dump_all',
 '_exclude',
 'config',
 'dump_all',
 'exclude',
 'fit',
 'is_for_infer',
 'to_pickle']